$cell-size: 60;

:host {
  width: 100%;
  height: 100%;
  display: block;
}

mwl-calendar-month-view {
  display: block;
  //width: 400px;
  //height: 800px;
}

/*
 FOR PC
*/
.bold {
  font-weight: bold;
}

.spacing-2 {
  letter-spacing: 2px;
}

.right-sidebar {
  width: $cell-size * 7px;
  height: 100%;
  border-left: 1px solid #e0e0e0;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  .date-title {
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    padding: 45px 0;
    font-size: 20px;
  }
}

.cal-cell-top {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $cell-size * 1px !important;
  max-height: $cell-size * 1px !important;
  .cal-day-number {
    margin: 0;
  }
}

::ng-deep mwl-calendar-month-cell {
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
}

::ng-deep .cal-day-cell {
  max-height: $cell-size * 1px !important;
  min-height: $cell-size * 1px !important;
  max-width: $cell-size * 1px !important;
  min-width: $cell-size * 1px !important;
  border: none !important;
}

::ng-deep .cal-cell-row,
::ng-deep .cal-days {
  border: none !important;
}

::ng-deep .cal-today {
  background: none !important;
  .cal-cell-top {
    max-width: $cell-size * 0.7px !important;
    min-width: $cell-size * 0.7px !important;
    max-height: $cell-size * 0.7px !important;
    min-height: $cell-size * 0.7px !important;
    background: #9c27b0;
    background: linear-gradient(180deg, #ba68c8 0%, #673ab7 100%);
    border-radius: 100%;
    .cal-day-number {
      font-size: 1.2em !important;
      color: white !important;
      opacity: 1;
      font-weight: 500;
    }
  }
}

.cal-cell-top {
  &.active {
    border: 3px solid #9c27b0;
    border-radius: 100%;
    max-width: $cell-size * 0.7px !important;
    min-width: $cell-size * 0.7px !important;
    max-height: $cell-size * 0.7px !important;
    min-height: $cell-size * 0.7px !important;
    background: transparent;
    .cal-day-number {
      color: black !important;
    }
  }
}


.main-content {
  width: 100%;
  height: 100%;
  padding-right: $cell-size * 7px;
  display: flex;
  flex-direction: column;
  .action-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 100px;
    text-align: center;
    font-size: 2rem;
    @media only screen and (max-width: 800px) {
      font-size: 1rem;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
  .month {
    text-transform: capitalize;
    padding: 5px 25px;
    border-radius: 20px;
    &.active {
      background: #9c27b0;
      background: linear-gradient(180deg, #ba68c8 0%, #673ab7 100%);
      color: white
    }
  }
}

::ng-deep .cal-disabled {
  display: block;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../../assets/cross.png');
    background-size: cover;
    opacity: 0.5;
  }
}

.events {
  width: 100%;
  padding: 10px;
  .event {
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-title {
  font-weight: 500;
  font-size: 18px;
}
.event-info {
  font-weight: 100;
  font-size: 15px;
}

.month {
  cursor: pointer;
}

.created-row {
  background: #FFC107;
}

.declined-row {
  background: #F44336;
}

.finished-row {
  background: #4CAF50;
}
