<div class="main-content">
  <table mat-table
         [dataSource]="dataSource"
         class="w100 mat-elevation-z8">

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef>Клиент</th>
      <td mat-cell *matCellDef="let element">{{element.user.name}}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Телефон</th>
      <td mat-cell *matCellDef="let element">{{element.user.phone | phone:'RU'}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Статус</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Время</th>
      <td mat-cell *matCellDef="let element">
        <i [class]="'flaticon flaticon-' + element.time"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td mat-cell *matCellDef="let element">
        <div class="actions-wrapper">
          <button mat-stroked-button *ngIf="element.status === 'Created'">Подтвердить</button>
          <button mat-stroked-button *ngIf="element.status === 'Created'">Переместить</button>
          <button mat-stroked-button *ngIf="element.status === 'Confirmed'">Завершить</button>
          <button mat-stroked-button *ngIf="element.status !== 'Declined'">Отменить</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        [class.created-row]="row.status === 'Created'"
        [class.declined-row]="row.status === 'Declined'"
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="dataSource?.countSubject | async" [pageSizeOptions]="[10, 20, 30]" [pageSize]="10"></mat-paginator>
  <!--<app-meeting-event [event]="event" *ngFor="let event of events$ | async"></app-meeting-event>-->
</div>

<div class="right-sidebar">
  <div class="date-title">
    <span class="bold spacing-2">{{ viewDate | date:'EEEE':null:'ru' }}</span> ● {{ viewDate | date:'dd MMMM':null:'ru' }}
  </div>
  <div class="navigation">
    <div class="month"
         mwlCalendarPreviousView
         [view]="view"
         [(viewDate)]="viewDate"
         (viewDateChange)="closeOpenMonthViewDay()">
      {{ subMonths(viewDate, 1) | date:'LLLL':null:'ru' }}
    </div>
    <div class="month active">{{ viewDate | date:'LLLL':null:'ru' }}</div>
    <div class="month"
         mwlCalendarNextView
         [view]="view"
         [(viewDate)]="viewDate"
         (viewDateChange)="closeOpenMonthViewDay()">
      {{ addMonths(viewDate, 1) | date:'LLLL':null:'ru' }}
    </div>
  </div>
  <div class="calendar">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [locale]="locale"
        [refresh]="refresh"
        [weekStartsOn]="1"
        [activeDayIsOpen]="activeDayIsOpen"
        [cellTemplate]="customCellTemplate"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        (beforeViewRender)="beforeMonthViewRender($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [locale]="locale"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [locale]="locale"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</div>


<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" [class.active]="viewDate.getTime() === day.date.getTime()">
    <!--<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>-->
    <span class="cal-day-number">
      {{ day.date | calendarDate:'monthViewDayNumber':locale }}
    </span>
  </div>
</ng-template>
