<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p [innerHTML]="data.message"></p>
</div>
<div mat-dialog-actions align="end" *ngIf="!data.actions">
  <button mat-button (click)="onNoClick()">Нет</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="data.data || true">Да</button>
</div>
<div mat-dialog-actions align="end" *ngIf="data.actions">
  <button *ngFor="let action of data.actions" mat-button cdkFocusInitial [mat-dialog-close]="action">{{action.name}}</button>
</div>
