
<div class="month-block"
     (panend)="panEndMonth()"
     (panleft)="panRightMonth($event)"
     (panright)="panLeftMonth($event)"
     (click)="openUserForm()">{{month}} {{ date }}</div>
<div class="date-block"
     (swipeDown)="openUserForm()"
     (swipeUp)="openUserForm()"
     (panend)="panEndDay()"
     (panleft)="panRightDay($event)"
     (panright)="panLeftDay($event)">
  <!--<span class="date-number prev-date" [style.right]="-margin + 'px'">{{ date + dateDelta + 1 }}</span>-->
  <!--<span [style.margin-right]="-margin + 'px'"-->
        <!--[style.transform]="'scale(' + (1 - abs(margin) / fullWidth) + ')'"-->
        <!--class="date-number">{{ date + dateDelta }}</span>-->
  <span class="date-number">{{ date }}</span>
  <!--<span class="date-number next-date" [style.right]="-margin + 'px'">{{ date + dateDelta + 1 }}</span>-->
</div>

<i class="material-icons swipe-down-info"
   (click)="openUserForm()">
  keyboard_arrow_down
</i>

<i class="material-icons pan-right-info">
  pan_tool
</i>

<!--<div class="services" *ngIf="services && servicesOpened"-->
     <!--[@expand]="services && servicesOpened">-->
  <!--<div class="service" [class.active]="service.value.selected" *ngFor="let service of services.controls" (click)="selectService(service.value)">-->
    <!--<span>-->
      <!--<app-checkbox></app-checkbox>-->
    <!--</span>-->
    <!--<span>{{service.value.name}}</span>-->
    <!--&lt;!&ndash;<span class="price">{{service.value.price}}₽</span>&ndash;&gt;-->
  <!--</div>-->
  <!--<button mat-raised-button class="services-button" (click)="toggleServicesModal()">Ok</button>-->
<!--</div>-->
