:host {
  display: flex;
  flex-direction: column;
}

.date-number {
  position: relative;
}

.month-block {
  width: 100%;
  height: 20vh;
  font-weight: bold;
  letter-spacing: 2px;
  background: #BF360C;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

::ng-deep {

  .mat-form-field-wrapper {
    border: 0;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    background: white;
    border-radius: 0;
    border: 3px solid rgba(247,235,235,0.5);
    padding: 0.75rem;
    input.mat-input-element {
      //color: #263238;
      color: #545871;
      font-size: 1.5rem;

      &::-webkit-input-placeholder {
        color: black;
      }
    }
  }

  .mat-form-field-flex {
    border: 0;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-prefix {
    font-size: 1.5rem;
  }

  .mat-form-field-label-wrapper {
    top: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    .mat-form-field-label {
      transform: perspective(0px) translateY(-75%) !important;
      padding-left: 0.75rem;
      margin: 0;
      line-height: 1.5rem;
      font-size: 1.5rem;
    }
  }
}

.user-form-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #f7ebeb;
  .user-form {
    width: 100%;
    padding: 10px;
    .user-form-form {
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
      height: 100%;
      width: 100%;
    }
  }
}

.date-block {
  width: 100%;
  height: 80vh;
  color: #263238;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9rem;
}

.next-date {
  position: fixed;
}

.swipe-down-info {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: arrow-bounce 1s ease-in-out infinite;
}

.pan-right-info {
  pointer-events: none;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: calc(#{50%} + 10vh);
  transform: translate(-50%, -50%);
  animation: arrow-pan 10s ease-in-out infinite;
}

.time-selector {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: white;
  border: 1px solid rgba(247,235,235,0.5);
  padding: 5px;
  .time-item {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    color: #5B5566;
    border-radius: 2px;
    &.active {
      //border-radius: 3px;
      color: #ffffff;
      //background: linear-gradient(45deg, #CE74C6, #7630C9);
      //-webkit-background-clip: text;
      //-webkit-text-fill-color: transparent;
      transition: ease-in-out 0.2s;
      &.morning {
        background: linear-gradient(0deg, rgba(252,176,69,1) 0%, rgba(253,103,49,1) 100%);
      }
      &.afternoon {
        background: linear-gradient(0deg, rgba(253,103,49,1) 0%, rgba(253,29,29,1) 100%);
      }
      &.evening {
        background: linear-gradient(0deg, rgba(253,29,29,1) 0%, rgba(192,44,105,1) 100%);
      }
      &.night {
        background: linear-gradient(0deg, rgba(192,44,105,1) 0%, rgba(131,58,180,1) 100%);
      }
    }
    .flaticon {
      &:before {
        font-size: 28px;
      }
    }
    span {
      font-size: 13px;
    }
  }
}

.service-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  .service-button-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .service-button-icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    //border: 1px solid rgba(247, 235, 235, 1);
    //border: 1px solid rgba(255, 0, 0, 1);
    background: white;
    &:not(.selected-services) {
      animation: pulse 2.5s ease-in-out infinite;
    }

    .services-count {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 2rem;
      font-weight: bold;
      color: white;
      text-shadow: 0 0 1px black;

      background: rgba(0, 0, 0, 0.3);
      border: 1px solid black;
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

    //&:after, &:before {
    //  position: absolute;
    //  content: '';
    //  top: 50%;
    //  left: 50%;
    //  transform: translate(-50%, -50%);
    //  border: 1px solid rgba(0, 0, 0, 0.5);
    //  border-radius: 100%;
    //}
    //
    //&:after {
    //  animation: pulse 2s 0.5s ease-in-out infinite;
    //}
  }
  .service-button-text {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-left: 10px;
  }
}

.services {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #F5F5F5;
  padding: 10px 10px 10vh;
  overflow-y: auto;
  .service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    padding: 1rem;
    //border-radius: 6px;
    margin-bottom: 0.5rem;
    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    .price {
      color: #B7B2A7;
      font-weight: bold;
    }
    &.active {
      background: #f7ebeb;
      color: white;
    }
  }
}

.make-appointment {
  margin-top: 1.25rem;
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  border-radius: 100px;
  background: #5B5566;
  color: white;
  text-align: center;

}



@keyframes arrow-bounce {
  from {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes arrow-pan {
  from {
    opacity: 1;
    right: 10px;
  }
  15%, 85% {
    opacity: 0;
    right: calc(#{100%} - 3rem - 10px);
  }
  to {
    opacity: 0;
    right: 10px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(213, 0, 0, 0.4);
  }
  30% {
    box-shadow: 0 0 0 10px rgba(213, 0, 0, 0);
  }
  80%, 100% {
    box-shadow: 0 0 0 0 rgba(213, 0, 0, 0);
  }
}

