<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p [innerHTML]="data.description"></p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ reactionMessage }}</button>
</div>
