<!--<app-style-guide></app-style-guide>-->
<router-outlet></router-outlet>

<div class="loader-wrapper" *ngIf="loading$ | async">
  <div class="spinner">
    <div class="cap"></div>
    <div class="bottle"></div>
    <div class="bottom"></div>
  </div>
</div>
