:host {
  width: 100%;
  height: 100%;
  display: block;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  .spinner {

    display: flex;
    flex-direction: column;
    align-items: center;
    //-webkit-perspective: 200px;
    //perspective: 200px;
    animation: rotate-nail 1s ease-in-out infinite;

    .cap {
      position: relative;
      margin-bottom: -26px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 0;
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(84,84,84,1) 50%, rgba(0,0,0,1) 100%);
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      width: 20px;
      height: 50px;
    }

    .bottle {
      background: rgb(198,40,40);
      background: linear-gradient(90deg, rgba(198,40,40,1) 0%, rgba(185,71,71,1) 50%, rgba(183,28,28,1) 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 40px;
      height: 70px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 0;
      perspective: 100px;
      transform: perspective(100px) rotateX(30deg);
      transform-origin: center bottom;
    }

    .bottom {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      width: 40px;
      height: 6px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-top: 0;
      background: rgb(255,216,225, 0.2);
      background: linear-gradient(0deg, rgba(255,216,225,1) 0%, rgba(255,240,242,1) 20%, rgba(233,233,233,1) 100%);
    }
  }
}

@keyframes rotate-nail {
  from {
    transform: scale(1) rotateZ(0deg);
  }
  to {
    transform: scale(1) rotateZ(360deg);
  }
}

