

::ng-deep .cal-disabled {
  display: block;
  position: relative;
  pointer-events: none;
  &:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../../assets/cross.png');
    background-size: cover;
    opacity: 0.5;
  }
}

@media (min-width: 320px) and (max-width: 767px) {

  ::ng-deep {

    .calendar-view {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    mwl-calendar-month-view {
      display: block;
      width: 100%;
      height: 100%;

    }

    .cal-today {
      .cal-day-number {
        font-size: 1.2rem !important;
      }
    }

    .cdk-overlay-pane {
      max-width: 100vw !important;
      width: 100vw;
      height: 100vh;
      position: fixed;
      z-index: 9;
    }

    mat-dialog-container {
      border-radius: 0;
    }

    .calendar {
      height: 100%;
    }

    .cal-month-view .cal-cell-top {
      min-height: 0;
    }

    .cal-month-view .cal-day-cell {
      min-height: 0;
    }

    .cal-month-view {
      height: 100%;
    }

    .cal-days {
      display: flex;
      flex-direction: column;
      height: 100%;
      > .ng-star-inserted {
        height: 100%;
        > .cal-cell-row {
          height: 100%;
        }
        mwl-calendar-month-cell {
          height: 100%;
          .cal-cell-top {
            height: 100%;
          }
        }
      }
    }

  }

}

