
<div class="calendar-view">
  <div class="date-title">
    <span class="bold spacing-2">{{ viewDate | date:'EEEE':null:'ru' }}</span> ● {{ viewDate | date:'dd MMMM':null:'ru' }}
  </div>
  <div class="calendar">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events$ | async"
      [locale]="locale"
      [refresh]="refresh"
      [weekStartsOn]="1"
      [activeDayIsOpen]="activeDayIsOpen"
      [cellTemplate]="customCellTemplate"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (beforeViewRender)="beforeMonthViewRender($event)"
    >
    </mwl-calendar-month-view>
  </div>
</div>


<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" [class.active]="viewDate.getTime() === day.date.getTime()">
    <!--<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>-->
    <span class="cal-day-number">
      {{ day.date | calendarDate:'monthViewDayNumber':locale }}
    </span>
  </div>
</ng-template>
