    /*
    Flaticon icon font: Flaticon
    Creation date: 19/07/2019 03:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-morning:before { content: "\f100"; }
.flaticon-afternoon:before { content: "\f101"; }
.flaticon-evening:before { content: "\f102"; }
.flaticon-night:before { content: "\f103"; }

    $font-Flaticon-sun: "\f100";
    $font-Flaticon-dawn: "\f101";
    $font-Flaticon-sunset: "\f102";
    $font-Flaticon-moon: "\f103";
