$small-padding: 5px;
$middle-padding: 15px;
$big-font: 24px;
$middle-font: 16px;

.login-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  .login-header {
    padding: $middle-padding;
    font-size: $big-font;
  }
  .login-body {
    padding: $middle-padding;
    font-size: $middle-font;
  }
  .login-footer {
    padding: $middle-padding;
    font-size: $middle-font;
  }
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-width {
  min-width: 360px;
}
