<div class="login-wrapper">
  <div class="login-form">
    <div class="login-header">
      Привет, ты кто?
    </div>
    <div class="login-body">
      <form class="input-form">
        <mat-form-field class="input-width">
          <input matInput
                 placeholder="Login"
                 [(ngModel)]="username"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="input-width">
          <input matInput
                 placeholder="Пароль"
                 [(ngModel)]="password"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </form>
    </div>
    <div class="login-footer">
      <button mat-raised-button color="primary" (click)="login()">Войти</button>
    </div>
  </div>
</div>
