<h1 mat-dialog-title> {{data.title}} </h1>
<div mat-dialog-content *ngIf="form" [formGroup]="form">

  <!--<p [innerHTML]="data.description"></p>-->

  <mat-form-field>
    <input matInput
           [attr.id]="'fio'"
           [attr.name]="'fio'"
           placeholder="ФИО"
           formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           [attr.id]="'phone'"
           [attr.name]="'phone'"
           placeholder="Номер телефона"
           prefix="+7 "
           mask="(000) 000-00-00"
           formControlName="phone">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Услуга</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let service of services.controls" [value]="service.value" (onSelectionChange)="selectService($event, service)">
        {{ service.value.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="time-selector">
    <div class="time-item"
         *ngFor="let time of times"
         [class.active]="time.selected"
         (click)="selectTime(time)">
      <i [class]="'flaticon ' + time.icon"></i>
      <span>{{time.time}}</span>
      <span>{{time.title}}</span>
    </div>
  </div>

  <!--<div class="social-icons">-->
    <!--<div class="icon">-->
      <!--<img src="../../../../assets/ivk.png" width="32" height="32" alt="vkontakte">-->
    <!--</div>-->
  <!--</div>-->


</div>

<div mat-dialog-actions class="actions" align="end">
  <button mat-button mat-dialog-close>
    Я передумала
    <ngx-emoji emoji='disappointed' set='emojione' size="16"></ngx-emoji>
  </button>
  <button mat-raised-button
          color="primary"
          cdkFocusInitial
          [mat-dialog-close]="prepareForm()"
          [disabled]="!form.valid">
    Записываюсь
    <ngx-emoji emoji='tada' set='emojione' size="16"></ngx-emoji>
  </button>
</div>
