::ng-deep .emoji-mart-emoji {
  line-height: 16px;
}

.time-selector {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .time-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    border: 1px solid transparent;
    &.active {
      border: 1px solid #7630C9;
      border-radius: 3px;
      background: linear-gradient(45deg, #CE74C6, #7630C9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #CE74C6;
      transition: ease-in-out 0.2s;
    }
    .flaticon {
      &:before {
        font-size: 32px;
      }
    }
    span {
      font-size: 13px;
    }
  }
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 20px;
}

.social-icons {
  display: flex;
}
