// Source https://materialuicolors.co/
$colors: (
  "error": ( back: #F44336, font: white ),
  "warning": ( back: #FF9800, font: white ),
  "success": ( back: #4CAF50, font: white ),
  "info": ( back: #2196F3, font: white ),
  "white": ( back: #FFFFFF, font: black ),
  "gray": ( back: #D4D4D4, font: black ),
);

@each $colorName, $color in $colors {
  // Colors
  .c-#{"" + $colorName} {
    color: map-get($color, back);

    * { // ToDo: avoid nested *, slow
      color: map-get($color, back);
    }
  }

  // Backgrounds
  .b-#{"" + $colorName} {
    background: map-get($color, back);
    color: map-get($color, font);

    * { // ToDo: avoid nested *, slow
      color: map-get($color, font);
    }
  }
}
