/* You can add global styles to this file, and also import other style files */
@import '~angular-calendar/scss/angular-calendar.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ctrl/ngx-emoji-mart/picker";
@import 'colors';

$font-size-little: 9px;
$font-size-small: 11px;
$font-size-medium: 14px;
$font-size-large: 18px;
$font-size-big: 24px;
$font-size-enormous: 36px;

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.hidden {
  display: none !important;
}

.w100 {
  width: 100%;
}

.f18 {
  font-size: 18px;
}

.mt-5 {
  margin-top: 5px;
}

.dark-theme {
  // First define some global color variables for your app, these are just for the demo, they can be anything you like
  $bg-dark-primary: #1f262d;
  $bg-dark-secondary: #394046;
  $bg-active: #2c343a;
  $text-color: #d5d6d7;
  $border-color: rgba(0, 0, 0, 0.6);

  // Call the calendar mixin with a sass color map of your theme. Every property is optional.
  // For a list of all variables and how they are used,
  // see https://github.com/mattlewis92/angular-calendar/tree/master/projects/angular-calendar/src/variables.scss
  @include cal-theme(
      (
        bg-primary: $bg-dark-primary,
        bg-secondary: $bg-dark-secondary,
        weekend-color: indianred,
        bg-active: $bg-active,
        border-color: $border-color,
        gray: $bg-dark-secondary,
        today-bg: $bg-dark-secondary,
        event-color-primary: $bg-dark-secondary
      )
  );

  // How to override a non themable property, this was copied from chrome -> inspect element -> styles panel
  .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 0.15;
  }

  // Everything else below is just themes the demo, it's probably not relevant to your app
  background-color: $bg-dark-primary;
  color: $text-color;

  .card {
    border-color: $border-color;
  }

  .card-header {
    background-color: $bg-dark-secondary;
  }

  .card-body {
    background-color: $bg-dark-primary;
  }

  .nav-tabs {
    border-bottom-color: $border-color;
  }

  .nav-tabs .nav-link.active {
    background-color: $bg-dark-primary;
    color: $text-color;
    border-color: $border-color;
  }

  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    border-color: $border-color;
  }
}

.c-morning {
  color: #FFEB3B;
}

.c-afternoon {
  color: #FF5722;
}

.c-evening {
  color: #3F51B5;
}

.c-night {
  color: #673AB7;
}
.flex {
  display: flex;
  &.fx-column {
    flex-direction: column;
  }
  &.fx-row {
    flex-direction: row;
  }
  &.fx-space-between {
    justify-content: space-between;
  }
  &.fx-center {
    align-items: center;
    justify-content: center;
  }
  &.fx-align-center {
    align-items: center;
  }
  &.fx-justify-center {
    justify-content: center;
  }
  &.fx-align-end {
    align-items: flex-end;
  }
  &.fx-justify-end {
    justify-content: flex-end;
  }
}

.text-small {
  font-size: $font-size-small !important;
}

.text-medium {
  font-size: $font-size-medium !important;
}

.text-large {
  font-size: $font-size-large !important;
}

.text-big {
  font-size: $font-size-big !important;
}

.text-enormous {
  font-size: $font-size-enormous !important;
}

.bold {
  font-weight: 700;
}
