<div class="user-form-wrapper"
     (swipeUp)="closeUserForm()">

  <div class="user-form">

    <div class="user-form-form" *ngIf="form" [formGroup]="form">

      <mat-form-field class="w100" floatLabel="never">
        <span matPrefix>+7 &nbsp;</span>
        <input matInput
               [attr.id]="'phone'"
               [attr.name]="'phone'"
               placeholder="Номер телефона"
               mask="(000) 000-00-00"
               formControlName="phone">
      </mat-form-field>

      <mat-form-field class="w100" floatLabel="never">
        <input matInput
               [attr.id]="'fio'"
               [attr.name]="'fio'"
               placeholder="Как мне вас называть?"
               formControlName="name">
      </mat-form-field>

      <div class="time-selector">
        <div class="time-item"
             *ngFor="let time of times"
             [class.morning]="time.alias === 'morning'"
             [class.afternoon]="time.alias === 'afternoon'"
             [class.evening]="time.alias === 'evening'"
             [class.night]="time.alias === 'night'"
             [class.active]="time.selected"
             (click)="selectTime(time)">
          {{time.title}}
          <!--<i [class]="'flaticon ' + time.icon"></i>-->
          <!--<span>{{time.time}}</span>-->
          <!--<span>{{time.title}}</span>-->
        </div>
      </div>

      <div class="service-button" (click)="toggleServicesModal()">
        <div class="service-button-icon"
             [class.selected-services]="!!selectedServices.length">
          <img src="assets/nail.png" class="service-button-img" width="50px" height="50px">
          <div class="services-count" *ngIf="!!selectedServices.length">
            {{selectedServices.length}}
          </div>
        </div>
        <div class="service-button-text">
          {{selectedServices.length ? 'Услуг выбрано' : 'Выбрать услуги' }}
        </div>
      </div>

      <div class="make-appointment" (click)="submitForm()">
        Записаться
      </div>


      <!--<button mat-stroked-button class="services-button" (click)="toggleServicesModal()">-->
      <!--{{ selectedServices.length }} Услуги ({{ servicesPrice }}₽)-->
      <!--</button>-->

      <!--<button mat-stroked-button class="w100 f18 mt-5" (click)="submitForm()">Записаться</button>-->
      <!--<mat-form-field>-->
      <!--<mat-label>Если не сложно выберите, что бы вы хотели</mat-label>-->
      <!--<mat-select multiple>-->
      <!--<mat-option *ngFor="let service of services.controls" [value]="service.value" (onSelectionChange)="selectService($event, service)">-->
      <!--{{ service.value.name }}-->
      <!--</mat-option>-->
      <!--</mat-select>-->
      <!--</mat-form-field>-->


    </div>

  </div>
</div>
